.fa.fa-filter {
    position: relative;
    top: -2px;
}

.srNum {
    color: #666C85;
    font-weight: 600;
}

.container {
    max-width: 100% !important;
}

.supMem-Name {
    color: #3fb180;
}

/* .modal .show-smry-cls, .modal #itemDiv, .modal #taskDiv { overflow-x:auto; } */
/* .modal .modal-table { min-width: 750px; } */
.site-modal .modal-content {
    border-radius: 8px;
}

#itemDiv,
#taskDiv,
#taskDiv {
    background: #fff;
}

.remove__parent__padding {
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.modal .table-cell {
    font-size: 12px;
}

.mb-modal-close-icon {
    width: 100%;
    padding: 0;
    position: static;
    margin-bottom: .2rem;
}

@media(max-width:767px) {
    .modal .modal-table {
        font-size: 5px
    }

    .modal .table-cell {
        padding: 1px 5px;
        font-size: 5px;
        line-height: 1.3;
    }

    .modal .fs-13 {
        font-size: 8px;
        line-height: 1.2;
    }

    .dropdown-toggle.fs-13 {
        font-size: 12px;
    }

    .modal .headerTxt.modal-date {
        font-size: 9px;
    }

    .modal .headerTxt {
        font-size: 12px;
    }
}

@media(min-width:992px) {
    #modalfiltertop {
        position: absolute;
        top: .75rem !important;
        left: 4rem;
    }
}

@media(max-width:992px) {
    #modalfiltertop {
        margin-top: 12px;
    }

    html[dir="rtl"] .reqDtl-Bg,
    html[dir="rtl"] .mbrDtl-Bg {
        background: transparent;
    }
}

.modal-head-row .btn {
    line-height: 1;
}

.cnfrm,
.doc-bx,
.dlt-bx {
    border-radius: 6px;
}

.nav-bar a {
    color: #8C8FA7;
}

a.active {
    color: #fff !important;
}

/* .btn-primary {
background-color: var(--color-primary) !important;
padding: .625rem 1.625rem !important;
box-shadow: 0px 4px 20px 0px #7F7FA514;
font-size: 1.125rem;
font-weight: 600;
border-radius: .937rem !important;
border-color: var(--color-primary) !important;
transition: all .3s ease-in-out;
border-width: 2px;
}
.btn-primary:focus { outline: 3px solid var(--color-white) !important;outline-offset: -6px !important;} */
 

@media (max-width: 767px) {
    .btn-primary {
        border-radius: 0.5rem !important;
        padding: .5rem 1rem !important;
    }

    .new__layout {
        /* display: block !important; */
        flex-wrap: wrap;
    }

    .new__layout .payOptnreq {
        width: 100%;
    }

    .new__layout .dleOptnreq {
        width: 100% !important;
    }

    .ordeReq {
        width: 52%;
        display: flex !important;
        flex-direction: column-reverse;
        align-items: start !important;
    }

    .new__layout .task-status {
        width: 100% !important;
    }
}

.status-ordered {
color: #232859;
}

.status-tmp-req,
.status-tmp-order {
    color: #939393;
}

.status-req {
    color: #232859;
}

html[dir="rtl"] .modal-head-row ul.dropdown-menu {
    text-align: right;
    padding: 5px 9px !important;
}

@media (max-width: 767px) {

    .update .task-list-status-col-p .new__layout .payOptnreq,
    .update .task-list-status-col-p .d-flex.align-items-center.dleOptnreq {
        justify-content: flex-start;
    }
}

.status-done {
    color: red !important;
}

.task-status {
    font-size: 1rem;
}

@media(max-width:1199px) {
    .task-status {
        font-size: 13px;
    }
}

@media(min-width:1400px) {
    .task-status {
        font-size: 1rem;
    }

    .srNum p {
        font-size: 14px;
    }

    .rntskHead .taskHead>div:first-child {
        font-size: 1rem;
    }
}

@media(min-width:1600px) {
    .srNum p {
        font-size: 16px;
    }

    .runDetail {
        font-size: 16px;
    }

    .stsBar .btn2 {
        font-size: 12px;
    }
}

.update .task-list-status-col-p .d-flex.align-items-center.dleOptnreq {
    width: 188px !important;
    min-width: auto !important;
    gap: 0.5rem;
}

.update .new__layout .payOptnreq {
    gap: 0.5rem;
}

.task-list-status-col-p .new__layout .payOptnreq {
    width: 118px;
}

.update .new__layout .task-status {
    width: calc(100% - 305px);
}

.cn-btn {
    color: #232859;
}

.cnfrm,
.doc-bx,
.dlt-bx {
    margin: 0;
}

#order_details_supplier .modal-header .btn-primary.dwnBtn {
    padding: 4.5px 18px !important;
    display: inline-flex;
    border-radius: 6px !important;
    align-items: center;
    gap: .25rem;
}

#order_details_supplier .modal-header .btn-primary.dwnBtn span,
#order_details_supplier .modal-header .btn-primary.dwnBtn i {
    position: relative;
    top: -1px;
}

.modal-header .btn[data-bs-toggle="collapse"] {
    padding: 5px 14px;
}

.amountSections.smryHead.sumBreakupAmtText.table-cell.medium.order-dtl-total-head {
    text-align: center;
}

@media(min-width:992px) {
    .mb-modal-close-icon {
        display: none;
    }
}

.set__left__padding {
    padding: 8px 0px;
}

@media(max-width:767px) {
    .set__left__padding {
        padding: 5px 0px;
        line-height: 1.4;
    }
}

.modal-header {
    padding: 12px 0 18px 0;
}

.modal-table .table-cell .photo img {
    max-height: 50px;
    width: auto;
}

@media(max-width:767px) {
    .modal-header {
        padding: 0px 0 12px 0;
    }

    .modal-content {
        max-width: 90%;
        margin-top: 2rem;
    }

    .dropdown-menu.show {
        padding: 5px !important;
    }

    .modal-table .table-cell .photo img {
        max-height: 20px;
    }
}

.modal-dialog-centered {
    align-items: flex-start;
}

html[dir="rtl"] .fa-share-square.pe-2 {
    padding-right: 0 !important;
    padding-left: .2rem !important;
}

@media(max-width:991px) {
    html[dir="rtl"] .tmpStatus {
        background: transparent !important;
    }
}

@media(min-width:1200px) and (max-width:1599px) {

    .runDetail,
    .task-status {
        font-size: 14px;
    }

    .srNum {
        font-size: 14px;
    }
}

@media(min-width:1200px) {
    .stsBar .btn2 {
        font-size: 10px;
    }
}

.status-assigned {
    color: #0d6efd;
}


/* requestion order details pdf */
.requestion__modal__table .table-row .table-cell:nth-child(1),
.requestion__modal__table .table-row .table-cell:nth-child(2),
.requestion__modal__table .table-row .table-cell:nth-child(3) {
    width: 20%;
}

.requestion__modal__table .table-row .table-cell:nth-child(4) {
    width: 40%;
}

.remove__parent__padding .modal-table>.table-row .table-cell:nth-child(1),
.remove__parent__padding .modal-table>.table-row .table-cell:nth-child(2) {
    width: 25%;
}

.remove__parent__padding .modal-table>.table-row .table-cell:nth-child(3) {
    width: 50%;
    display: table-cell !important;
}

.table-cell.left__align__text .table-cell {
    width: 33% !important;
}

.amountSections {
    text-align: right;
}

.sumBreakupAmtText {
    text-align: left;
}

html[dir="rtl"] .sumBreakupAmtText {
    text-align: right;
}