@media (max-width: 1920px) {
    .new__layout .payOptnreq {
        width: 19%;
    }
}
.tb-bdy .fa-solid {
    position: relative;
    right: -4px;
}
.itmTable .dropdown-toggle {
    padding: 7px 14px 7px 8px !important;
}
.itmTable .dropdown-menu {
    min-width: 90px;
}
.itmTable .dropdown-toggle {
    width: auto !important;
    max-width: 80px !important;
}
.hisStatusclm .dropdown-toggle, .hisAcntclm .dropdown-toggle {
    width: auto !important;
    max-width: 80px !important;
}
.itmTable .dropdown a span {
    text-overflow: ellipsis;
}
.in-val-p {
    font-weight: 400 !important;
    line-height: 19px !important;
}
.payment__table th{
    /* font-size: 14px; */
    font-weight: 700;
}

/* .payment-tabel-header .table1 tr td {
    font-size: 16px;   
} */
.grand-total th{
    font-size: 18px;
}
.invoiceto-p p, .paymentto-p p{
    font-size: 16px;
}
.invoiceto-p .f-02, .paymentto-p .f-02{
    line-height: 35px;
}
tr.grand-total th:last-child {
    text-align: right;
}
.tabel-body-p-footer table:last-child {
    max-width: 289px;
}
.numItmclm .dblArrow, .hisStatusclm .dblArrow  {
    display: none !important;
}
.modal-header .fa.fa-filter {
    position: relative;
    top: -3px;
}
.mt-2.flex-wrap.modal-head-row {
    margin-top: 1px !important;
}
@media (min-width: 300px) and (max-width: 575px){
    .tabel-body-p-footer table:last-child {
        max-width: 100%;
        min-width: 289px;
    }
    table.grand-total-tabel.col {
        margin-top: 15px;
    }
    tr.grand-total th {
        font-size: 16px;
    }
}
@media (min-width: 1700px) and (max-width: 1825px) {
    .cnfrm {
        width: 65px;
    }
    .doc__btn.edit, .doc__btn.delete {
        width: 40px;
    }
}
@media (min-width: 1920px) { 
    .new__layout .task-status {
        width: 50%;
    }
    .cnfrm {
        width: 60px;
    }
    .new__layout .payOptnreq {
        width: 17%;
    }
    .doc__btn.edit, .doc__btn.delete {
        width: 40px;
    }
    .hisTask .doc-bx {
        width: 96px;
    }
}
.table-amount-same-alignment .table-row div {
    text-align: end;
}
.table-amount-same-alignment .table-row {
    display: flex;
}
.btn.btn-primary.dwnBtn {
    padding: 4.5px 18px !important;
    display: flex;
    align-items: center;
    border-radius: 6px !important;
  }
  .modal-header button.btn[data-bs-toggle="collapse"] {
    padding: 0.375rem 0.75rem;
}
.modal-header button.dropdown-toggle {
    height: 34px;
    display: flex;
    align-items: center;
}
.modal-dialog #modalfiltertop {
    top: 0.5rem;
}
@media (min-width: 300px) and (max-width: 991px) {
    .modal-header #modalfiltertop {
        position: relative !important;
        top: 0 !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
.modal-header.pb-2.pb-lg-3 {
    padding-top: 0;
}