@media (min-width:1024px) {
  html[dir=rtl] .cntAreartl {
  max-width: 90% !important;
  }
}

html[dir=rtl] .acc-info .fa-angle-down {
  margin-right: 40% !important;
  margin-left: 0;
}
html[dir=rtl]   .dropdown-menu.date_type {
  white-space: normal !important;
}



html[dir=rtl] .brdLft::after {
  content: '';
  width: 1px;
  height: 65%;
  top: 50%;
  left: 0%;
  right: unset;
  background-color: #a9b0c0;
  transform: translateY(-50%);
  position: absolute;
}

html[dir=rtl] .brdLft {
  border-left: none !important;
  border-right: none;
}

html[dir=rtl] .newOrder {
  padding: 0 25px !important;
}
html[dir=rtl] .lgOut{
  padding-right: 0 !important;
}
html[dir=rtl] .addUser-Form input[type=password]{
  padding-right: 2rem !important;
}


.compact__tb__bdy .tb-bdy .stkImgcol .imgItm, .compact__tb__bdy .tb-bdy .ordItm-Img { height: 60px;width:50px; }
.compact__tb__bdy  .tb-bdy { padding: 5px 8px; }
@media screen and (min-width: 1600px) { .compact__tb__bdy  .tb-bdy { padding: 2px 8px; } }
.newOrder > .row { --bs-gutter-y: 0;--bs-gutter-x: 0; }